<div class="container mx-auto px-3.5">
  <div class="mt-14 mb-20 max-w-md mx-auto">
    <div class="w-full bg-color-light shadow-lg shadow-black/10 p-10">
      <h2 class="text-color-text-dark text-xl leading-7 font-bold">{{words.LogIn}}</h2>
      <form>
        <fieldset>
          <div class="flex flex-col pt-14">
            <label class="w-full text-color-text-dark text-sm leading-7 font-bold mb-3" for="email">{{words.Email}}</label>
            <input
              class="email-input w-full h-10 bg-color-light border border-color-border-light text-sm py-0 px-3.5 box-border outline-0"
              type="email" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
          </div>
          <div class="flex flex-col mt-8">
            <label class="w-full text-color-text-dark text-sm leading-7 font-bold mb-3" for="password">{{words.Password}}</label>
            <input
              class="password-input w-full h-10 bg-color-light border border-color-border-light text-sm py-0 px-3.5 box-border outline-0"
              type="password" id="password" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,16}"
              required>
          </div>
          <ul class="auth-error mt-2.5" hidden>
            <li class="text-red-600 text-center">{{words.ErrorLogin}}</li>
          </ul>
          <div class="mt-5">
            <button type="submit"
              class="login-btn bg-color-additional w-full text-color-light h-12 hover:bg-color-btn-hover">{{words.In}}</button>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="w-full bg-color-light shadow-lg shadow-black/10 py-3.5 mt-4 text-center">
      <span>{{words.DontHaveAcc}}? <a href="/register"
          class="registration text-color-additional">{{words.SignUp}}</a></span>
    </div>
  </div>
</div>
