<article class="px-4 pb-3">
  <div class="ml-3">
    <div class="p-1 flex gap-2">
      <div class="w-6 h-6 rounded-sm overflow-hidden">
        <a href="/users/{{user.displayName}}">
          {{#if user.properties.avatar}}
          <img class="object-contain w-full h-full" src="{{user.properties.avatar}}" alt="user-avatar" />
          {{else}}
          <img class="object-cover w-full h-full rounded border-2" src="{{emptyAvatar}}" alt="user-avatar" />
          {{/if}}
        </a>
      </div>
      <div>
        <a href="/users/{{user.displayName}}" class="hover:text-color-link-hover transition text-color-text-dark">
          {{user.displayName}}
        </a>
        <a class="text-color-text-light"></a>
      </div>
    </div>
    <div class="">
      <p></p>
    </div>
  </div>
</article>