{{#if user}}
<div class="p-5 flex gap-3.5 border-solid border-b border-color-border-light flex-wrap items-center">
  <div class="w-9 h-9 rounded-sm overflow-hidden">
    <a href="/users/{{user.displayName}}" class="link">
      {{#if user.properties.avatar}}
      <img class="object-contain w-full h-full user-avatar" src="{{user.properties.avatar}}" alt="user-avatar" />
      {{else}}
      <img class="object-cover w-full h-full rounded border-2 user-avatar" src="{{emptyAvatar}}" alt="user-avatar" />
      {{/if}}
    </a>
  </div>
  <div class="flex flex-col">
    <span class="text-color-text-dark">{{user.properties.fullName}}</span>
    <a href="/users/{{user.displayName}}" class="text-color-button username">@{{user.displayName}}</a>
  </div>
</div>
<a href="/settings/profile"
  class="pl-5 py-3.5  hover:bg-color-dropdown-menu-btn-hover w-full my-3 transition flex gap-2 items-center drop-down-menu__btn link">
  <span class="ico ico_settings"></span>
  <span class="text-color-text-light">{{buttons.Settings}}</span>
</a>
<button
  class="pl-5 py-3.5 hover:bg-color-dropdown-menu-btn-hover w-full my-3 transition flex gap-2 items-center visual-settings drop-down-menu__btn">
  <span class="ico ico_visual-settings"></span>
  <span class="text-color-text-light">{{buttons.VisualSettings}}</span>
</button>
<button
  class="pl-5 py-3.5  hover:bg-color-dropdown-menu-btn-hover w-full my-3 transition flex gap-2 items-center exit drop-down-menu__btn">
  <span class="ico ico_exit"></span>
  <span class="text-color-text-light">{{buttons.Exit}}</span>
</button>
{{else}}
<div class="p-5 flex gap-3.5 border-solid border-b border-color-border-light flex-wrap">
  <a href="/login"
    class="text-color-button border-solid border border-color-button px-2.5 py-0.5 rounded block">{{buttons.Auth}}</a>
  <a href="/register"
    class="bg-color-button text-color-light px-2.5 py-0.5 rounded block transition hover:bg-color-dropdown-menu-link-hover">{{buttons.Registration}}</a>
</div>
<button
  class="pl-5 py-3.5 hover:bg-color-dropdown-menu-btn-hover w-full my-3 transition flex gap-2 items-center visual-settings drop-down-menu__btn">
  <span class="ico ico_visual-settings"></span>
  <span class="text-color-text-light">{{buttons.VisualSettings}}</span>
</button>
{{/if}}