<div class="bg-color-logo">
  <div class="container mx-auto flex justify-start items-center h-12">
    <div class="flex gap-4 items-center">
      {{#if flows}}
      <span class="header__burger burger md:hidden"><span class="burger__line"></span></span>
      {{/if}}
      <a href="/">
        <h1 class="font-bold text-color-light m-0">{{logo}}</h1>
      </a>
    </div>
    {{#if flows}}
    <div class="gap-5 header__menu md:hidden flex ml-auto items-center">
      <a href="/search" class="h-6"><span class="ico ico_search ico_search-light"></span></a>
      <span class="ico ico_user-light user"></span>
    </div>
    {{/if}}
  </div>
</div>
<div class="m-auto bg-color-light md:container md:block hidden header__flows">
  {{#if flows}}
  <div class="flex place-content-between gap-y-8 py-3 items-center">
    <nav class="flex gap-4 flex-col nav md:flex-row">
      {{#each flows}}
      {{#if (eq this.link ../currentPath)}}
      <a href="{{this.link}}"
        class="hover:text-color-link-hover transition text-color-text-dark nav__link">{{this.name}}</a>
      {{else}}
      <a href="{{this.link}}"
        class="hover:text-color-link-hover transition text-color-text-light nav__link">{{this.name}}</a>
      {{/if}}
      {{/each}}
    </nav>
    <div class="md:flex gap-5 header__menu hidden items-center">
      <a href="/search" class="flex items-center"><span class="ico ico_search"></span></a>
      <span class="ico ico_user user"></span>
    </div>
    {{/if}}
  </div>
</div>