<div class="flex gap-4">
  <div class="w-full user-card bg-color-light px-5 py-4">
    <div class="mb-6">
      <div class="w-12 h-12 rounded-sm overflow-hidden mb-2.5">
        <a href="/users/{{user.displayName}}">
          {{#if user.properties.avatar}}
          <img class="object-contain w-full h-full" src="{{user.properties.avatar}}" alt="user-avatar" />{{else}}
          <img class="object-cover w-full h-full rounded border-2" src="{{emptyAvatar}}" alt="user-avatar" />
          {{/if}}
      </div></a>
      <a href="/users/{{user.displayName}}" class="text-color-button text-xl">@{{user.displayName}}</a>
      <p class="text-color-text-dark">{{user.properties.about}}</p>
    </div>
    <div class="user-card__tabs tabs">
      <ul class="tabs__tab-item">
        <li>
          <a href="/users/{{user.displayName}}/posts"
            class="text-color-text-light hover:text-color-link-hover transition uppercase tracking-wide font-medium">{{words.Posts}}</a>
        </li>
      </ul>
    </div>
  </div>
  <aside class="hidden lg:block min-w-[300px] bg-color-light h-fit">
    <div class="px-5 py-4">
      <h3
        class=" text-color-text-dark uppercase font-medium tracking-wide border-solid border-b border-color-border-light pb-3">
        {{words.Information}}</h3>
      <ul class="py-4">
        <li>
          <div class="flex gap-7">
            <p class=" font-medium text-color-text-dark">{{words.Registered}}</p>
            <p class="text-color-text-dark">{{registeredDate}}</p>
          </div>
        </li>
      </ul>
    </div>
  </aside>
</div>