<div class="px-4 py-3 bg-color-light">
  <h1 class="mb-2">{{words.Settings}}</h1>
  <form action="#">
    <div class="grid grid-cols-6 gap-x-4">
      <div class="lg:row-span-2 lg:col-start-5 md:col-span-3 col-span-6">
        <span class="mt-4 mb-1 font-semibold">{{words.Avatar}}</span>
        <div class="h-16 w-16 md:float-none float-right rounded border flex items-center justify-center"><span class="user-avatar__placeholder"><svg width="30" height="36" viewBox="0 0 20 24"
            class="fill-gray-400"><path
            d="M19.839 16.769h.001l-.003-.006v-.001c-1.231-3.133-3.495-4.298-4.848-4.994l-.384-.201c.041-.7-.035-1.455-.235-2.251l-.014-.025.006.006.002.003c-1.076-3.028-2.473-3.637-3.704-4.175l-.008-.004-.753-2.985c.503-.091.885-.529.885-1.057-.001-.595-.483-1.077-1.077-1.077s-1.077.482-1.077 1.077c0 .505.349.925.817 1.042l-1.161 2.328-.02-.004-.034-.004c-1.481-.045-2.591.519-3.518 1.332-.89-.453-2.132-1.026-3.037-2.552.151-.169.245-.39.245-.633 0-.527-.427-.954-.954-.954s-.954.427-.954.954c0 .527.427.954.954.954.11 0 .213-.022.311-.056.586.841 1.534 1.662 1.896 3.98l-.1.128.011-.013-.023.03c-1.628 2.694-1.117 5.978.292 7.556-1.404 3.582-1.456 6.587-.137 8.256l.002.002.004.005.001-.001c.168.229.441.328.737.328.266 0 .55-.08.787-.216.439-.252.62-.646.459-1.004l-.168.076.167-.078c-.818-1.749-.667-3.818.442-6.149.564.185 1.095.293 1.611.329l.196 1.027c.372 1.995.724 3.881 1.825 5.637h.001c.185.372.637.545 1.091.545.172 0 .344-.024.501-.072.542-.164.831-.562.755-1.038l-.182.029.175-.059c-.288-.852-.606-1.614-.914-2.35-.525-1.257-1.019-2.451-1.253-3.851.573-.059 1.121-.181 1.634-.367 1.161.973 2.337 2.099 3.86 4.793l.001-.001c.101.196.315.302.577.302.148 0 .312-.034.477-.104.514-.218.918-.746.672-1.416v-.001c-.607-2.602-2.006-3.909-3.418-4.992.229-.246.437-.516.622-.81 1.055.562 2.643 1.413 4.4 3.893l.066.095.015-.01c.212.219.446.338.676.338.135 0 .268-.038.393-.118.431-.271.619-.929.408-1.413zm-12.493-3.507c-1.332 0-2.411-1.08-2.411-2.411s1.08-2.411 2.411-2.411c1.332 0 2.411 1.08 2.411 2.411s-1.08 2.411-2.411 2.411zm9.268 6.54l-.117.029v-.001l.118-.027zM8.28 11.404c0 .542-.439.981-.981.981s-.981-.439-.981-.981.439-.981.981-.981.981.439.981.981zM7.705 11.492c0 .263-.214.477-.477.477s-.477-.214-.477-.477.214-.477.477-.477.477.214.477.477z"></path></svg></span>
        </div>
        <div class="">
          <p class="text-sm my-1 text-color-border-dark">{{{words.AvatarSize}}}</p>
          <div
              class="">
            <div class="flex">
              <label class="px-2 py-1 border border-b-color-border-dark rounded bg-gray-100 cursor-pointer"><input class="hidden" type="file"
                  accept="image/*"><span
                  class="">{{words.Upload}}</span></label></div>
          </div>
        </div>
      </div>
        <div class="lg:row-start-1 lg:col-span-3 col-span-6 md:col-span-4">
          <div class="mt-4 mb-2"><label class="flex justify-between mb-1">
            <span class="font-semibold">{{words.RealName}}</span>
            <span class="font-semibold">40</span></label>
            <input type="text" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></div>
          <p class="text-sm my-1 text-color-border-dark">{{words.RealNameAbout}}</p>
        </div>
        <div class="lg:row-start-2 col-span-6 lg:col-span-3 md:col-span-4">
          <div class="mt-4 mb-2"><label class="flex justify-between mb-1">
            <span class="font-semibold">{{words.DescYour}}</span>
            <span class="font-semibold">50</span></label>
            <input type="text" id="about" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></div>
          <p class="text-sm my-1 text-color-border-dark">{{words.DescYourAbout}}</p>
        </div>
      </div>
  </form>
  <button type="submit" class="mt-6 bg-green-500 hover:bg-green-400 text-sm text-white font-medium py-2 px-4 rounded">
    {{words.Save}}
  </button>
</div>
