<article class="p-4 bg-color-light">
  <div class="mb-1 flex items-center gap-1">
    <div class="article__user cursor-pointer h-8 w-8 rounded overflow-hidden"><img class="h-full w-full object-cover" src="{{#if article.user.properties.avatar}}{{article.user.properties.avatar}}{{else}}{{emptyAvatar}}{{/if}}" alt=""></div>
    <span class="article__user cursor-pointer text-sm font-medium">{{article.user.displayName}}</span>
    <span class="text-sm text-color-text-light"></span>
  </div>
  <h1 class="article__link text-xxl cursor-pointer font-medium">{{article.title}}</h1>
    {{#each article.blocks}}
  {{{builder this}}}
    {{/each}}
  <div class="flex mb-4 flex-wrap gap-0.5 text-color-popup-text">
    <span class="text-black font-bold">{{words.keywords}}:</span>
    {{#each article.keywords}}
      <span class="article_hab hover:opacity-75">{{this}}</span>
    {{/each}}
  </div>
</article>